@import url("https://use.typekit.net/tvv5aom.css");
@import url("https://use.typekit.net/bth6fgf.css");

$orange: #fcb633;
$darkOrange: #f37c20;
$blue: #00658b;
$pink: #e0195e;
$green: #32936F;
$lightBlue: #62929E;
$darkBlue: #2e394d;
$purple: #401286;
$teal: #387D7A;

$proximaNovaThin: proxima-nova, sans-serif;

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}


@keyframes pulse {
	from {
		transform: scale(1.3); 
		opacity: 0;
	}
	to {
		transform: scale(1); 
		opacity: 1;
	}
}

body {
	font-family:  "Helvetica Neue", "Helvetica"
	Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #333;
	background: #333;
	overflow: hidden;
	#loader {
		position: fixed;
		z-index: 100000;
		background: #333;
		width: 100%;
		height: 100%;
		top: 0;
		right: 0;
		bottom: 0;
		text-align: center;
		overflow: hidden;
		.load-wrapper {
			text-align: center;
			width: 75px;
			margin: 0 auto 0;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			svg {
				width: 75px;
			}
			#intro-circle-animation {
				position: absolute;
				border: 3px solid #fff;
				width: 67px;
				height: 67px;
				display: block;
				border-radius: 75px;
				margin-top: -67px;
				margin-left: 1px;
				animation: pulse 1s ease-in-out infinite;
			}
		}

	}

	p {
		font-family: adobe-garamond-pro,serif;
		font-weight: 400;
		font-style: normal;
		font-size: 1.2em;
		margin-bottom: 2em;
		color: #333;
		&.lead {
			font-family:  "Helvetica Neue", "Helvetica"
			Helvetica, Arial, "Lucida Grande", sans-serif;
			font-weight: 300;
		}
	}
	header {
		position:fixed;
		height: 65px;
		display:block;
		width: 100%;
		background: transparentize(#222, .2);
		z-index: 10;
		text-align:left;
		color: #f2f2f2;
		padding: 15px 15px 15px 15px;
		top: 0;
		img {
			width: 40px;
		}

	}
	h1 {
		font-weight: 700;
		letter-spacing: -2px;
		font-size: 3.4em;

	}
	h2 {
		font-weight: 700;
		font-size: 3.2em;
		letter-spacing: -2px;
	}
	h3 {
		font-weight: 700;
		letter-spacing: -1px;
	}
	.section {
		background-size: cover;
		background-position: 50% 0%;
		background-repeat: no-repeat;
	}
	.section-container {
		max-width: 990px;
		min-height: 100vh;
		background: #444;
		padding: 0em 8em 5em 8em;
		
	}
	#fp-nav ul:after {
		position: absolute;
		content: '';
		height: 100%;
		background: #fff;
		width: 1px;
		left: 14px;
		top: 0;


	}
	#fp-nav {
		top: 200px;
		padding-top: 40px;
		transition: all 1s ease-in-out;
		opacity: 0;
		&.in {
			top: 313px;
			opacity: 1;
		}
		li {
			margin-bottom: 5em;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	#fp-nav ul li a span, .fp-slidesNav ul li a span {
		background: white;
		height: 14px;
		width: 14px;
		margin: -6px 0 0 -7px;

	}
	#fp-nav ul li a.active span, #fp-nav ul li:hover a.active span, .fp-slidesNav ul li a.active span, .fp-slidesNav ul li:hover a.active span {
		height: 24px;
		width: 24px;
		margin: -6px 0 0 -11px;
		border-radius: 100%;
	}
	.animate {
		opacity: 0;
		transition: opacity 1s ease-in-out;
		&.in {
			opacity: 1;
		}
	}

	// For smoothing scroll
	.fp-scroller {
		transition: transform .1s ease-out !important;
	}
	//FIRST SLIDE VIDEO
	.header-wrapper {
		height: 100vh;
		position: relative;
	}
	.header {
		text-align: center;
		color: white;
		position: fixed;
		width: 100vw;
		height: 100vh;
		background: #ddd;
		z-index: 3;
		width: 100%;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		position: relative;
		.wrapper {
			width: auto;
			height: 100vh;
			z-index: 3;
			position: fixed;
		}
		video {
			position: fixed;
			width: 100vw;
			height: 100vh;
			left: 0;
			right: 0;
			object-fit: cover;
			z-index: 2
		}
		p.lead {
			font-size: 1.8em;
			margin-top: 1em;
			color: white;
		}
		.section-container {
			z-index: 3;
			position: relative;
			background: none;
			width: 100vw;

			background: transparentize($darkBlue, .4);
			margin: 0 auto;
			left: 0;
			padding: 10em 25%;
			max-width: 100vw;
			h1 {
				margin-top: 10vh;
				letter-spacing: -3px;
				font-size: 3.5em;
				transition: transform 0 linear;
				&#debris {
					font-size: 8em;
					position: absolute;
					top: 40%;
					left: 50%;
					width: 990px;
					margin: 0 auto;
					text-align: center;
					transform: translate(-50%, -50%);

					span:first-child {
						position: relative;
						animation: animate-d 8s 1;
						transform: rotate(-180deg);
						display: inline-block;

					}
					@keyframes animate-d {
						0%   { 
							position: absolute;
							top: -100vh;
							left: -100vw; 
						}
						25% {
							position: relative;
							top: 0;
							left: 0; 	
							transform: rotate(0deg);
						}
						75% {
							position: relative;
							top: 0;
							left: 0; 	
							transform: rotate(0deg);
						}
						100% { 
							position: absolute;
							top: -100vh;
							left: -100vw; 
						}
					}
					span:nth-child(2) {
						position: relative;
						animation: animate-e 8s 1;
						transform: rotate(-180deg);
						display: inline-block;
						@keyframes animate-e {
							0%   { 
								position: absolute;
								top: -100vh;
								left: -20vw; 
							}
							25% {
								position: relative;
								top: 0;
								left: 0; 	
								transform: rotate(0deg);
							}
							75% {
								position: relative;
								top: 0;
								left: 0; 	
								transform: rotate(0deg);
							}
							100% { 
								position: absolute;
								top: -100vh;
								left: -20vw; 
							}
						}
					}
					span:nth-child(3) {
						position: relative;
						animation: animate-b 8s 1;
						transform: rotate(-180deg);
						display: inline-block;
						@keyframes animate-b {
							0%   { 
								position: absolute;
								top: -100vh;
								left: 0vw; 
							}
							25% {
								position: relative;
								top: 0;
								left: 0; 	
								transform: rotate(0deg);
							}
							75% {
								position: relative;
								top: 0;
								left: 0; 	
								transform: rotate(0deg);
							}
							100% { 
								position: absolute;
								top: -100vh;
								left: 0vw; 
							}
						}
						
					}
					span:nth-child(4) {
						position: relative;
						animation: animate-r 8s 1;
						transform: rotate(-180deg);
						display: inline-block;
						@keyframes animate-r {
							0%   { 
								position: absolute;
								top: -100vh;
								left: 0vw; 
							}
							25% {
								position: relative;
								top: 0;
								left: 0; 	
								transform: rotate(0deg);
							}
							75% {
								position: relative;
								top: 0;
								left: 0; 	
								transform: rotate(0deg);
							}
							100% { 
								position: absolute;
								top: -100vh;
								left: 0vw; 
							}
						}
						
					}
					span:nth-child(5) {
						position: relative;
						animation: animate-i 8s 1;
						display: inline-block;
						@keyframes animate-i {
							0%   { 
								position: absolute;
								top: -100vh;
								left: 25vw; 
								transform: rotate(180deg);
							}
							25% {
								position: relative;
								top: 0;
								left: 0; 	
								transform: rotate(0deg);
							}
							75% {
								position: relative;
								top: 0;
								left: 0; 	
								transform: rotate(0deg);
							}
							100% { 
								position: absolute;
								top: -100vh;
								left: 25vw; 
							}
						}
						
					}
					span:nth-child(6) {
						position: relative;
						animation: animate-s 8s 1;
						display: inline-block;
						@keyframes animate-s {
							0%   { 
								position: absolute;
								top: -100vh;
								left: 60vw; 
								transform: rotate(180deg);
							}
							25% {
								position: relative;
								top: 0;
								left: 0; 	
								transform: rotate(0deg);
							}
							75% {
								position: relative;
								top: 0;
								left: 0; 	
								transform: rotate(0deg);
							}
							100% { 
								position: absolute;
								top: -100vh;
								left: 60vw; 
							}
						}
						
					}
					span:nth-child(7) {
						position: relative;
						animation: animate-s 8s 1;
						display: inline-block;
						@keyframes animate-s {
							0%   { 
								position: absolute;
								top: -100vh;
								left: 100vw; 
								transform: rotate(180deg);
							}
							25% {
								position: relative;
								top: 0;
								left: 0; 	
								transform: rotate(0deg);
							}
							75% {
								position: relative;
								top: 0;
								left: 0; 	
								transform: rotate(0deg);
							}
							100% { 
								position: absolute;
								top: -100vh;
								left: 100vw; 
							}
						}
					}
				}
			}
		}
	}
	.section-container {
		background: transparentize(white, .1);
		margin-left: auto;
		margin-right: auto;
		z-index: 3;
		position: relative;
		max-width: 990px;
	}
	#section1 {
		//background-image: url(../../dist/images/sputnik.png);
		//padding-top: 100vh;

		.section-container {
			padding-right: 400px;
			padding-top: 5em;
		}
		.fp-tableCell {

		}
	}
	#section2 {
		.section-container {
			max-width: 990px;
		}
		.debris {
			position: fixed;
			top: -50vh;
			transition: all 3s ease-in;
			z-index: 1000;
		}
		.debris1 {
			right: 10vw;
			&.show {
				animation: move-debris 2s 3;
			}
		}
		.debris2 {
			left: 30px;
			top: -130vh;
			&.show {
				animation: move-debris 6s 3;
			}
		}
		.debris3 {
			left: 75vw;
			top: -100vh;
			&.show {
				animation: move-debris 4s 3;
			}
		}
		.debris4 {
			left: 15vw;
			top: -150vh;
			&.show {
				animation: move-debris 8s 3;
			}
		}
		.debris5 {
			left: 25vw;
			top: -200vh;
			&.show {
				animation: move-debris 2s 3;
			}
		}
		.debris6 {
			left: 80vw;
			top: -120vh;
			&.show {
				animation: move-debris 2s 3;
			}
		}
		p.wrap {
			//float: left;
			width: 65%;
		}
		@keyframes move-debris {
			0%   { 
				top: -50vh;
			}
			100% { 
				top: 300vh;
			}
		}
		.section-container {
			z-index: 100;
			position: relative;
		}
		.fp-tableCell {

		}
		.timeLine {
			background: black;
		}

	}
	#section3 {
		//background-image: url(../../dist/images/Creating-a-path-CORDS.jpg);
		.section-container {
			
		}
		.fp-tableCell {



		}
	}
	#section4 {
		#re-entry {
			width: 1024px;
			height: 579px;
			background: #ddd;
			position: relative;
			left: -145px;
			margin-top: 0;
			margin-bottom: 5em;

		}
		.section-container {
			.intro-caption {
				margin-top: -220px;
				margin-bottom: 200px;
				position: relative;
				color: white;
			}
		}
		.fp-tableCell {



		}
	}
}

#fp-nav ul li .fp-tooltip.fp-left {
	left: 25px;
	top: 2px;
	font-weight: 700;
	letter-spacing: -1px;
}
// Space
.chart {
	text-align: center;
	h3 {
		text-align: center;
		margin-bottom: .3em;
		margin-top: .5em;
	}
}
#chart {
	position: relative;
	float: right;
	padding: 1em;
	width: 430px;
	margin-right: -82px;
	margin-left: 40px;
	margin-bottom: 0;
	top: -24px;
	//background: transparentize(white, .2);
	//top: -5vh;
}

#chart2 {
	background: white;
	padding: 3em;
	width: 40vw;
	height: auto;
}

/* Stars 
------------------------------------- */
.stars, .twinkling, .clouds {
	position: absolute;
	display:block;
	top:0; bottom:0;
	left:0; right:0;
	width:100%; height: 100%;
}

.stars {
	z-index: 3;
	background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
}

.twinkling{
	z-index: 3;
	background:transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
	animation: move-twink-back 200s linear infinite;
}

.clouds{
	z-index: 2;
	background:transparent url('https://image.ibb.co/bT4N7T/clouds.png') repeat top center;
	animation: move-clouds-back 200s linear infinite;
}

@keyframes move-twink-back {
	from {background-position:0 0;}
	to {background-position:-10000px 5000px;}
}

@keyframes move-clouds-back {
	from {background-position:0 0;}
	to {background-position:10000px 0;}
}



.fixed-wrapper {
	position: fixed;
	width: 50vw;
}
.main-wrapper {
	background: #333;
}

//Branded Pop Outs

.popout {
	&.image {
		width: 1024px;
		height: 550px;
		background: #ddd;
		position: relative;
		left: -145px;
		margin-top: 0;
		margin-bottom: 5em;
		.caption {
			color: white;
			font-size: 1em;
			line-height: 1.2;
			font-weight: 600;
			position: absolute;
			bottom: 5%;
			left: 3em;
			width: 50%;
			letter-spacing: -1px;
			margin-left: 90px;
			p {
				margin-top: 1em;
				color: white;
				font-family:  "Helvetica Neue", "Helvetica"
				Helvetica, Arial, "Lucida Grande", sans-serif;
			}
		}
		&.debris-damage {
			background-image: url(../../dist/images/sat-damage.jpg);
			background-size: cover;

		}
		&.cords {
			background-image: url(../../dist/images/Creating-a-path-CORDS.jpg);
			background-size: cover;
			.caption {
				bottom: auto;
				top: 10%;
			}

		}
		
	}
	&#journey-to-earth {
		float: right;
		width: 25vw;
		margin: 0 -5em 1em 1em;
		&:before {
			position: absolute;
			width: 100%;
			height: 100%;
			content: '';
			background: transparentize(white, .9);
			top: 10px;
			left: 10px;
			z-index: -5;

		}
		img {
			margin-bottom: 1em;
		}
		*:hover {
			
		}
		
		a {
			color: #333;
			font-weight: 900;
			text-transform: uppercase;
			border: 1px solid white;
			display: block;
			//border-radius: 3px;
			padding: .3em;
			background: transparentize(white, .5);
			text-align: center;
			transition: all .5s ease-in-out;
			line-height: 1.4;
			img {
				width: 100%;
				&.logo-icon {
					width: 32px;
					margin-bottom: .5em;
					margin-right: .5em;

				}
			}
			&:hover {
				text-decoration: none;
				background: #fff;
			}
		}
	}
}

.background-wrapper {
	width: 100vw;
	height: auto;
	position: relative;
	z-index: 4;
	background: #333;
	//margin-top: 100vh;
}

#spaceObjects {
	border: 0;
	position: relative;
	left: -10vw;
	width: 75vw;
	height: 75vh;
	margin-bottom: 5em;
}
#space-debris-map {
	padding: 3em;
	margin-bottom: 5em;
	background: #333;
	position: relative;
	width: 1024px;
	left: -144px;
	text-align: center;
	h3 {
		color: white;
		text-align: center;
		margin: 0 0 1em 0;

	}
}
.mapael .mapTooltip {
	position: absolute;
	background-color: #333;
	moz-opacity: 0.70;
	opacity: 0.70;
	filter: alpha(opacity=70);
	border-radius: 10px;
	padding: 10px;
	z-index: 1000;
	max-width: 200px;
	display: none;
	color: #fff;
}
.plot {
	fill: transparentize($pink, .3);
	border: 1px solid $pink;
}
.area {
	&:hover {
		//fill: $darkBlue;
	}
}
.footnote {
    position: relative;
    display: inline-block;
    margin-left: 10px;
    /* left: 5vw; */
    /* margin-top: -3vw; */
	a {
		display: block;
		width: 42px;
		height: 42px;
		border-radius: 40px;
		background: #333;
		padding: 4px 0 5px 2px;
		text-align: center;
		border: 1px solid white;
		&:after {
			width: 42px;
			height: 42px;
			border-radius: 40px;
			border: 2px solid $lightBlue;
			position: absolute;
			content: '';
			left: 0;
			top: 0;
		}
		.caption {
			opacity: 0;
			width: 290px;
			min-height: 50px;
			background: transparentize(#333, .2);
			font-family:  "Helvetica Neue", "Helvetica"
			Helvetica, Arial, "Lucida Grande", sans-serif;
			padding: 1em;
			position: absolute;
			transition: all .5s ease-in-out;
			top: -100%;
			left: -330px;
			border-radius: 3px;
			border: 1px solid #333;
			font-family:  "Helvetica Neue", "Helvetica"
				Helvetica, Arial, "Lucida Grande", sans-serif;
				color: white;
				font-size: 12px;
			p {
				
			}

		}
		img {
			width: 30px;
			height: 30px;
		}
		&:hover {
			
			.caption {
				opacity: 1;
				left: -290px;

			}
			a {
				&:after {
					width: 42px;
					height: 42px;
					border-radius: 40px;
					border: 5px solid $lightBlue;
					position: absolute;
					content: '';
					left: 0;
					top: 0;
				}

			}
			
		}
	}

}
h4 {
	font-size: 18px;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 30px;
}

blockquote {
	&.right {
		float: right;
		width: 25vw;
		right: -5vw;
		position: relative;
		padding: 1em;
		z-index: 2;
		background: white;
		img {
			width: 100%;
			margin: 0 auto;
		}
		p {
			margin: 0;
			font-family:  "Helvetica Neue", "Helvetica"
			Helvetica, Arial, "Lucida Grande", sans-serif;
			font-size: .8em;
			font-style: italic;
			padding: 1.5em;

		}
		&:before {
			position: absolute;
			width: 100%;
			height: 100%;
			content: '';
			background: transparentize(white, .9);
			top: 10px;
			left: 10px;
			z-index: -5;

		}
	}	
}
.is-animated {
	opacity: 0;
}
.btn-inverse {
	display: block;
	border: 2px solid $darkBlue;
	color: $darkBlue;
	border-radius: 40px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: -1px;
	i {
		margin-right: 1em;
	}
}
.animated {
	opacity: 0;
}

//REBR Timeline

#rebr-graphic {
	width: 100%;
	position: relative;
	//background: #666;
	height: 500px;

	.rebr-section {
		position: absolute;
		left: 42%;
		top: 33%;
		transition: all .5s ease-in-out;
		.caption {
			position: absolute;
			top: -15%;
			left: -35%;
			&:after {
				width: 1px;
				content: '';
				height: 35px;
				background: black;
				position: absolute;
				top: 20px;
				left: 50%;
				transform: rotate(-20deg);

			}
			p {
				font-family:  "Helvetica Neue", "Helvetica"
				Helvetica, Arial, "Lucida Grande", sans-serif;
				font-size: 12px;
				font-weight: 700;
			}

			&:after {
				content: '';
			}
		}
		img {
			transition: all .5s ease-in-out;
		}
		&:hover {
			img {
				transform: scale(1.1);
			}
		}
		&.housing-dome {
			z-index: 10;
			&.explode {
				top: 8%;
				left: 8%;
			}
		}
		&.heat-shield {
			z-index: 9;
			&.explode {
				top: 18%;
				left: 18%;
			}
			.caption {
				top: -30%;
				left: 75%;
				width: 160px;
				&:after {
					top: 20px;
					left: 0;
					transform: rotate(20deg);
				}
				p {
					font-family:  "Helvetica Neue", "Helvetica"
					Helvetica, Arial, "Lucida Grande", sans-serif;
					font-size: 12px;
					font-weight: 700;
				}
			}
		}
		
		&.antenna {
			z-index: 8;
			&.explode {
				top: 28%;
				left: 28%;
			}
			.caption {
				top: 126%;
				left: -60%;
				width: 160px;
				&:after {
					top: -35px;
					left: 25%;
					transform: rotate(20deg);
				}
				p {
					font-family:  "Helvetica Neue", "Helvetica"
					Helvetica, Arial, "Lucida Grande", sans-serif;
					font-size: 12px;
					font-weight: 700;
				}
			}
		}
		&.modem {
			z-index: 7;
			&.explode {
				top: 32%;
				left: 32%;
			}
			.caption {
				top: -50%;
				left: 15%;
				width: 160px;
				&:after {
					top: 15px;
					left: 25%;
					transform: rotate(20deg);
				}
				p {
					font-family:  "Helvetica Neue", "Helvetica"
					Helvetica, Arial, "Lucida Grande", sans-serif;
					font-size: 12px;
					font-weight: 700;
				}
			}
		}
		&.battery-chassis {
			z-index: 6;
			&.explode {
				top: 37%;
				left: 37%;
			}
			.caption {
				top: 210%;
				left: -110%;
				width: 160px;
				&:after {
					top: -65px;
					left: 40%;
					height: 60px;
					transform: rotate(20deg);
				}
				p {
					font-family:  "Helvetica Neue", "Helvetica"
					Helvetica, Arial, "Lucida Grande", sans-serif;
					font-size: 12px;
					font-weight: 700;
				}
			}
		}
		&.heat-shield-nose {
			z-index: 5;
			&.explode {
				top: 37%;
				left: 41%;
			}
			.caption {
				top: -60%;
				left: 55%;
				width: 160px;
				&:after {
					top: 25px;
					left: 35%;
					height: 60px;
					transform: rotate(20deg);
				}
				p {
					font-family:  "Helvetica Neue", "Helvetica"
					Helvetica, Arial, "Lucida Grande", sans-serif;
					font-size: 12px;
					font-weight: 700;
				}
			}
		}
		&.housing {
			z-index: 4;
			&.explode {
				top: 44%;
				left: 51%;
			}
			.caption {
				top: 105%;
				left: -15%;
				width: 160px;
				&:after {
					top: -55px;
					left: 25%;
					height: 60px;
					transform: rotate(20deg);
				}
				p {
					font-family:  "Helvetica Neue", "Helvetica"
					Helvetica, Arial, "Lucida Grande", sans-serif;
					font-size: 12px;
					font-weight: 700;
				}
			}
		}
		&.bottom-plate {
			z-index: 3;
			&.explode {
				top: 55%;
				left: 65%;
			}
			.caption {
				top: -30%;
				left: 35%;
				width: 200px;
				&:after {
					top: 25px;
					left: 35%;
					height: 60px;
					transform: rotate(20deg);
				}
				p {
					font-family:  "Helvetica Neue", "Helvetica"
					Helvetica, Arial, "Lucida Grande", sans-serif;
					font-size: 12px;
					font-weight: 700;
				}
			}
		}
	}
}
span.sentence-cap {
	font-size: 2.5em;
	line-height: .9;
}


#section6 {
	.section-container {
		padding-top: 5em;
	}
}
.full-screen-video-space {
    display: block;
    left: 0;
    right: 0;
    width: 100vw;
    height: 40vh;
    color: white;
    z-index: 5;
    background: transparentize($darkBlue, 1);

    h2 {
    	margin-top: 45vh;
    	z-index: 30;
    	position: relative;
    }
    p {
		font-family:  "Helvetica Neue", "Helvetica"
		Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 300;
		font-size: 1.5em;
		color: white;
		z-index: 30;
    	position: relative;	       
    }
    .container-990 {
    	width:  990px;
    	margin: 0 auto;
    }

}


.related-articles {
	z-index: 100;
	position: relative;
	background: #333;
	color: white;
	padding-top: 5em;
	.wrapper {
    	padding: 1em;
    	background: #444;	
    	img {
    		width: 100%;
    		margin-bottom: 1em;
    	}
    }
    h3 { 
    	font-size: 1em;
    }
	p {
		color: white;
		font-family:  "Helvetica Neue", "Helvetica"
		Helvetica, Arial, "Lucida Grande", sans-serif;
		font-weight: 500;
		font-size: .8em;
	}
}
.footer {
	background: #000;
	position: relative;
	z-index: 1000;
	padding: 3em;
	.pull-right {
		float: right;
	}
}
/*===== // Resonsive Vertical Timeline =====*/
#conference-timeline {
	position: absolute;
	top: 0;
	right: 4vw;
	width: 38vw;
	padding-top: 7em;
	height: 184vh;
	z-index: 5;
}
.main-timeline{


}
.main-timeline:before{
	content: '';
	background-color: #fff;
	height: 100%;
	width: 2px;
	transform: translateX(-50%);
	position: absolute;
	left: 50%;
	top: 0;
}
.main-timeline:after{
	content: '';
	display: block;
	clear: both;
}
.main-timeline .timeline{
	width: 50%;
	padding: 0 40px 0 0;
	margin: 0 5px 2em 0;
	float: left;
	clear: both;
	position: relative;
	z-index: 1;
	transition: transform .2s;

}
.main-timeline .timeline:before,
.main-timeline .timeline:after{
	content: '';
	background-color: #fff;
	height: 2px;
	width: 41px;
	transform: translateY(-50%);
	position: absolute;
	right: 0;
	top: 50%;
}
.main-timeline .timeline:after{
	height: 15px;
	width: 15px;
	border-radius: 50%;
	right: -8px;
}
.main-timeline .timeline-content{
	color: #333;
	background-color: transparentize(#fff, .4);
	border: 1px solid  #eee;
	text-align: left;
	padding: 5px 60px 5px 20px;
	margin: 0 auto;
	border-radius: 20px;
	display: block;
	overflow: hidden;
	position: relative;
	transition: all .5s ease-in-out;
	&::nth-child(even) {
		a {
			background-color: transparentize(#fff, .6);
		}
	}
	&:hover {
		background-color: #fff;
	}
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-content:before,
.main-timeline .timeline-content:after{
	content: '';
    //background-color: #59585B;
    height: 100%;
    width: 28%;
    position: absolute;
    right:-1px;
    top: 0;
    z-index: 1;
    //-webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 75% 0);
    //clip-path: polygon(100% 0, 100% 100%, 0 100%, 75% 0);
}
.main-timeline .timeline-content:after{
    //background-color: #414148;
    transform: rotateX(180deg);
    z-index: 0;
}
.main-timeline .timeline-icon{
	color: #333;
	font-size: 42px;
	transform: translateY(-50%);
	position: absolute;
	right: 18px;
	top: 50%;
	z-index: 1;
}
.main-timeline .title{
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	margin: 0;
}
.main-timeline h3 {
	margin-bottom: 0;
	font-size: 20px;
}
.main-timeline .description{
	font-size: 12px;
	letter-spacing: 0;
	margin: 0;
	color: white;
	font-weight: 700;
	color: #666;
	font-family:  "Helvetica Neue", "Helvetica"
	Helvetica, Arial, "Lucida Grande", sans-serif;

}
.main-timeline .timeline:nth-child(even){
	margin: 0 0 0 5px;
	padding: 0 0 0 40px;
	float: right;
    //background: transparentize(white, .1);
}
.main-timeline .timeline:nth-child(even):before{
	right: auto;
	left: 0;
}
.main-timeline .timeline:nth-child(even):after{
	right: auto;
	left: -8px;
}
.main-timeline .timeline:nth-child(even) .timeline-content{ 
	padding: 15px 20px 15px 73px; 
	background: transparentize(white, .2);
	&:hover {
		background: white;
	}
}
.main-timeline .timeline:nth-child(even) .timeline-content:before{
	right: auto;
	left: 0;
	transform: rotateY(180deg);
}
.main-timeline .timeline:nth-child(even) .timeline-content:after{
	right: auto;
	left: 0;
	transform: rotateY(-180deg) rotateX(180deg);
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
	right: auto;
	left: 20px;
}
/*.main-timeline .timeline:nth-child(4n+2) .timeline-content{ 
	border: 1px solid rgba(54, 162, 235, 1);
	background-color:  rgba(54, 162, 235, 0.7); 
	&:hover {
		background-color:  rgba(54, 162, 235, 1); 
	}
}
.main-timeline .timeline:nth-child(4n+3) .timeline-content{ 
	border: 1px solid rgba(255, 206, 86, 0.7);
	background-color: rgba(255, 206, 86, 0.4);
	&:hover {
			background-color: rgba(255, 206, 86, 0.8); 
	}
}
.main-timeline .timeline:nth-child(4n+4) .timeline-content{ 
	background-color: rgba(153, 102, 255, 0.8); 
	border: 1px solid rgba(153, 102, 255, 1);
	&:hover {
		background-color: rgba(153, 102, 255, 0.8); 
	}
}*/
@media only screen and (max-width:990px){
	.main-timeline .timeline-content{ padding: 15px 100px 15px 20px; }
	.main-timeline .timeline:nth-child(even) .timeline-content{ padding: 15px 20px 15px 100px; }
	.main-timeline .timeline .timeline-content:before,
	.main-timeline .timeline .timeline-content:after{
		width: 33%;
	}
	.main-timeline .timeline-icon{ right: 12px; }
	.main-timeline .timeline:nth-child(even) .timeline-icon{ left: 12px; }
}
@media only screen and (max-width:767px){
	.main-timeline:before{
		transform: translateX(0);
		left: 0;
	}
	.main-timeline .timeline{
		width: 100%;
		padding: 0 0 0 20px;
		margin: 0 0 20px;
	}
	.main-timeline .timeline:nth-child(even){
		padding: 0 0 0 20px;
		margin: 0 0 20px;
	}
	.main-timeline .timeline:before{
		right: auto;
		left: 0;
	}
	.main-timeline .timeline:after{
		right: auto;
		left: -8px;
	}
	.main-timeline .timeline .timeline-content{
		padding: 15px 15px 15px 90px;
		border-radius: 30px;
	}
	.main-timeline .timeline .timeline-content:before{
		width: 85px;
		right: auto;
		left: 0;
		transform: rotateY(180deg);
	}
	.main-timeline .timeline .timeline-content:after{
		width: 85px;
		right: auto;
		left: 0;
		transform: rotateY(180deg) rotateX(-180deg);
	}
	.main-timeline .timeline .timeline-icon,
	.main-timeline .timeline:nth-child(even) .timeline-icon{
		font-size: 30px;
		right: auto;
		left: 12px;
	}
	.main-timeline .title{ font-size: 18px; }
}
